html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; 
    font: inherit; vertical-align: baseline; } 
    
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; } 
body { line-height: 1; font-size: 18px; font-family:'pretandad'  ,'sans-serif'; } 
ol, ul, li  { list-style: none; } 
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; }

a { color: inherit; text-decoration: none;}

 /* HEADER 부분 */







 /* MAIN BANNER 부분 */
.main-banner{ width:100vw; height: 980px; background-color: #aaa;  }
.slide-contents-container { width:71%;}
.slide-contents-left{ width:50%; float:  left;}
.slide-contents-right{ width:50%; float:  left;}

.main-banner-btn { width:198px; height: 84px; background-color: #aaa; text-align: center; line-height: 84px; }



 /* WELOCOME 부분 */



 /* HEADER 부분 */



 /* ACTIVITY 부분 */



 /* PCAKAGE 부분 */




 /* DEEP FUN LIFE 부분 */




 /* GOODS 부분 */

.goods{ background-color: #333; width: 100vw; height: 600px;}
.goods-container  { position: relative; background-color: rgba(129, 129, 129, 0.001); color: #eee; width: 1370px; height: 580px; margin: 0 auto;}
.goods-prev { position: absolute;  z-index: 1; left:0; width: 30px; height: 550px;  float: left;}
.g-container{ position: absolute; z-index: 0; left:50%; transform:translateX(-50%);  float: left; width: 1310px; height: 580px; margin: 20px 0; overflow: hidden;}
.goods-next { position: absolute;  z-index: 1; right:0; width: 30px; height: 550px;  float: right;}
.goods-siders{ height: 600px; }
.g-container li{  float: left;}
.g-slide{ width: 245px; height: 600px;  float: left; text-align: center; background-color: rgba(255, 255, 255, 0.01);}
.g-slide:not(:last-child) { margin-right:110px;}
.g-slide h4{ font-size: 1.5rem; font-weight: bolder; margin: 20px 0 10px 0; text-align: left;}
.g-slide p{ font-size: 1.04rem;  margin: 10px 0; line-height: 20px; text-align: left; padding-bottom: 15px;}
.btn-goods{ width:245px; height: 44px; margin:2px 0; color: #ddd; background-color: rgba(255, 255, 255, 0.2); text-align: center; 
    line-height: 44px; font-size:1.04rem;  border-radius: 2px;  border: solid 2px rgba(255, 255, 255, 0.3);  }
.btn-goods:hover{  color: #eee; background-color: #b413ff;  font-weight: 600; border-radius: 2px;  border: solid 2px rgba(184, 123, 255, 0.74);  }
/* 마우스 오버 색상 메인 컬러 바꾸기  #d42877   */
.g-prev { position: absolute; top:50%;  width: 50px;  height: 50px; border-radius: 25px; border: solid 2px rgba(255, 255, 255, 0.1); 
    transform:translateX(-50%);  background-color: rgba(255, 255, 255, 0.14); overflow: hidden; }
.g-prev img{ margin-left: -8px; margin-top: 2px; width: 70%; opacity: .4;}
.g-next { position: absolute; top:50%;  width: 50px;  height: 50px; border-radius: 25px;  border: solid 2px rgba(255, 255, 255, 0.1); 
    transform:translateX(10%);  background-color: rgba(255, 255, 255, 0.14); overflow: hidden;}
.g-next img{ margin-left: 8px;margin-top: 2px; width: 70%; opacity: .4;}



 /* COUNT 부분 */





 /* NEWS 부분 */







 /* MAGAZINE 부분 */







 /* ??????? 부분 */









 /* FOOTER 부분 */








